
  <nav class="navbar navbar-default navbar-static" id="navbar-example">
    <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand"><%= user.local.email %></a>
          <%if (user.local.isAdmin) { %>
            <a href="/words#" class="navbar-brand">Listare</a>
            <a href="/words#validation" class="navbar-brand">Validare</a>
            <a href="/accounts" class="navbar-brand">Conturi de acces</a>
          <% } %>
        </div>
     </div>
   </nav>
