<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>
      body{
        padding-top: 0px;
      }
    </style>

  </head>
  <body ng-controller="AccountsController">

    <%- include partials/top-nav.ejs %>

    <div class="col-sm-6">
      <% if ( expressFlash == "success" ) { %>
        <p class="text-success">Contul a fost creat cu succes</p>
      <% } %>
      <h1>Adauga un nou cont de access</h1>
      <% if ( expressFlash.length > 0 && expressFlash != "success") { %>
        <p class="text-danger">Mesaj: <%= expressFlash  %> </p>
      <% } %>
      <form action="/signup" method="post">

          <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>

          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" ng-model="password">
          </div>

          <div class="form-group">
              <label>Retype password</label>
              <input type="password" class="form-control" name="retype-password" ng-model="repassword">
          </div>

          <div class="text-danger" ng-show="password != repassword">Parolele introduse trebuie sa fie identice</div>

          <div class="form-group">
              <input id="chkIsAdmin" type="checkbox" name="isAdmin">
              <label for="chkIsAdmin">Are drepturi administrative (ex: poate valida traduceri)</label>
          </div>

          <button type="submit" class="btn btn-warning btn-lg" ng-disabled="password != repassword">Adauga cont</button>
      </form>
    </div>

    <div class="col-sm-6">
      <h3>Conturi existente</h1>
        <table width="100%" class="table table-striped table-hover">
          <thead>
            <td>Email</td>
            <td>Admin</td>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{user.local.email}}</td>
              <td>{{user.local.isAdmin}}</td>
            </tr>
          </tbody>
        </table>
  </div>

      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/AccountsController.js"></script>

  </body>
</html>
