<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>
      body{
        padding-top: 0px;
      }
      .validate-term-header{
        background-color: #ccc;
      }
    </style>
  </head>
  <body>

    <%- include partials/top-nav.ejs %>

    <div class="col-sm-10">
      <ng-view></ng-view>
    </div>

<!-- Template -->
<script type="text/ng-template" id="/words.html">

  <table width="100%">
    <tr>
      <td><input placeholder="Introdu termenul de cautare" type="text" ng-model="searchTerm" class="form-control"></td>
      <td><button ng-click="dosearch()" class="btn btn-success btn-lg">Search</button></td>
    </tr>
  </table>

  <table class="table table-striped table-hover">
      <thead>
		      <tr>
            <td>English</td>
            <td>Alternative/Context</td>
            <td>Romanian</td>
            <td>Alternative/Context</td>
          </tr>
	    </thead>
		  <tbody>
          <tr>
              <td><input type="text" ng-model="newTranslation.English"></td>
              <td><input type="text" ng-model="newTranslation.Term_Example_English"></td>
              <td><input type="text" ng-model="newTranslation.Romanian"></td>
              <td><input type="text" ng-model="newTranslation.Term_Example_Romanian"></td>
              <td><button ng-click="save()">Adauga</button></td>
          </tr>
			     <tr ng-repeat="translation in translations | filter: search">
				         <td ng-show="!editing[$index]">{{translation.English}}</td>
                 <td ng-show="!editing[$index]">{{translation.Term_Example_English}}</td>
                 <td ng-show="!editing[$index]">{{translation.Romanian}}</td>
                 <td ng-show="!editing[$index]">{{translation.Term_Example_Romanian}}</td>
                 <td ng-show="!editing[$index]"><button ng-click="edit($index)">editeaza</button></td>


                 <td ng-show="editing[$index]"><input type="text" ng-model="translation.English"></td>
                 <td ng-show="editing[$index]"><input type="text" ng-model="translation.Term_Example_English"></td>
                 <td ng-show="editing[$index]"><input type="text" ng-model="translation.Romanian"></td>
                 <td ng-show="editing[$index]"><input type="text" ng-model="translation.Term_Example_Romanian"></td>
                 <td ng-show="editing[$index]">
                   <button ng-click="update($index)">actualizeaza</button>
                   <button ng-click="translation = cancel($index)">anuleaza</button>
                 </td>
           </tr>
	    </tbody>
    </table>

</script>

<!-- Not Validate Template -->
<script type="text/ng-template" id="/validation.html">
  <h1>Traduceri nevalidate</h1>
  <input type="text" ng-model="search" class="form-control">
  <table class="table" ng-init="getnotvalidated()">
      <thead>
		      <tr>
            <td>English</td>
            <td>Alternative/Context</td>
            <td>Romanian</td>
            <td>Alternative/Context</td>
            <td>Autor</td>
            <td></td>
          </tr>
	    </thead>
		  <tbody ng-repeat="translation in notvalidatedtranslations | filter: search">

			     <tr class="validate-term-header">
				         <td>{{translation.English}}</td>
                 <td>{{translation.Term_Example_English}}</td>
                 <td>{{translation.Romanian}}</td>
                 <td>{{translation.Term_Example_Romanian}}</td>
                 <td>{{translation.created_by}}</td>
                 <td>
                   <button ng-click="validate($index)" ng-show="translation.validated == false">valideaza traducerea noua</button>
                   <button ng-click="delete($index)" ng-show="translation.validated == false">sterge traducerea</button>
                 </td>
           </tr>

           <tr ng-repeat="edit in translation.edits" class="edit" ng-show="edit.validated == false">
             <td ng-show="!editingPendingEdit[edit._id]">{{edit.English}}</td>
             <td ng-show="!editingPendingEdit[edit._id]">{{edit.Term_Example_English}}</td>
             <td ng-show="!editingPendingEdit[edit._id]">{{edit.Romanian}}</td>
             <td ng-show="!editingPendingEdit[edit._id]">{{edit.Term_Example_Romanian}}</td>
             <td ng-show="!editingPendingEdit[edit._id]">{{edit.created_by}}</td>
             <td ng-show="!editingPendingEdit[edit._id]" style="min-width:400px">
                <button ng-click="editPendingEdit(edit)">editeaza</button>
                <button ng-click="validateEdit(translation._id, edit._id)">valideaza editarea</button>
                <button ng-click="deleteEdit(translation._id, edit._id)">sterge editarea</button>
             </td>

             <td ng-show="editingPendingEdit[edit._id]"><input type="text" ng-model="edit.English"></td>
             <td ng-show="editingPendingEdit[edit._id]"><input type="text" ng-model="edit.Term_Example_English"></td>
             <td ng-show="editingPendingEdit[edit._id]"><input type="text" ng-model="edit.Romanian"></td>
             <td ng-show="editingPendingEdit[edit._id]"><input type="text" ng-model="edit.Term_Example_Romanian"></td>
             <td ng-show="editingPendingEdit[edit._id]">{{edit.created_by}}</td>
             <td ng-show="editingPendingEdit[edit._id]">
               <button ng-click="updatePendingEdit(edit)">actualizeaza</button>
               <button ng-click="edit = cancelPendingEdit(edit)">anuleaza</button>
             </td>
           </tr>

           <tr><td colspan="6"></td></tr>
	    </tbody>
    </table>

</script>

<!-- Template -->
<script type="text/ng-template" id="/update.html">
  Search: <input type="text" ng-model="search.name">
  <ul>
    <li ng-repeat="todo in todos | filter: search">
      <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
      <a ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>
      <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
      <input ng-show="editing[$index]" type="text" ng-model="todo.name">
      <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
      <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
    </li>
  </ul>
  New task <input type="text" ng-model="newTodo"><button ng-click="save()">Create</button>
</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/js/WordsController.js"></script>
  </body>
</html>
